@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

/* MENU */
@import url('styles/menu.css');
/* APRESENTACAO */
@import url('styles/apresentacao.css');
/* SOBRE MIM */
@import url('styles/sobre.css');
/* CARD SKILLS E HOBBIES */
@import url('styles/skills-hobbies.css');
/* FORMACAO ACADEMICA */
@import url('styles/formacao.css');
/* EXPERIENCIA PROFISSIONAL */
@import url('styles/experiencia.css');

:root {
  --primary-font: "Inter Tight", sans-serif;
  --secondary-font: "Tilt Neon", sans-serif;
  --secondary-color: #fef7dc;
  --margin-default: 0 5.5rem;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body,
html {
  font-family: var(--primary-font);
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  line-height: 1.5;
}
